# mysql 
MYSQL_ROOT_PASSWORD= # password of root user
MYSQL_DATABASE=trivia # the name of the database
MYSQL_USER=user # user for container
MYSQL_PASSWORD=password # password for user

# mariadb (manages database)
DB_ENGINE=mysql
DB_HOST=db # This must match the name of the database service in your compose.yml file
DB_PORT=3306 # port used by db within Docker - mapped to external port 3307 (use this with client systems)
DB_CHARSET=utf8mb4

# shibboleth
SERVER_NAME= # localhost for local testing, vm name when run on a vm - used by Shibboleth
LOGIN_PATH=/teacher # path to return to after user login ?
BACKEND_HOST=api 
BACKEND_PORT=8080
BACKEND_PATH=/api
BACKEND_PROTOCOL=http
FRONTEND_HOST=frontend
FRONTEND_PORT=80
FRONTEND_PROTOCOL=http

# ai integration
GEMINI_KEY= # your gemini key here

# user management
ADMIN_PASSWORD= # your password for certain admin operations, like removing users or editing privileges
