MYSQL_ROOT_PASSWORD= # add your password for MySQL root user here
MYSQL_DATABASE=trivia # the name of the created MySQL database
MYSQL_USER=user # add your MySQL user 
MYSQL_PASSWORD=password

DB_ENGINE=mysql
DB_HOST=db # This must match the name of the database service in your compose.yml file
DB_PORT=3306 # This is the port that the database uses within Docker - mapped to 3307 for external clients on the host machine
DB_CHARSET=utf8mb4 

GEMINI_KEY= # your gemini key here

ADMIN_PASSWORD= # your password for certain admin operations, like removing users or editing privileges
