#question-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lobby-ctnr {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.question-ctnr {

}