:root {
    --front-percentage: 0%;
    --right-percentage: 0%;
    --back-percentage: 0%;
    --left-percentage: 0%;
    --top-percentage: 0%;
    --bottom-percentage: 0%;
}



.cube_container {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: all-scroll;
}

.c {
    width: 20rem !important;
    height: 20rem !important;
}

.box_container {
    display: grid;
    align-items: center;
    justify-content: center;
    cursor: grab;
}

.scene:not(.final) {
  width: 36vh;
  height: 36vh;
  perspective: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scene {
  width: 200px;
  height: 200px;
  perspective: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: transform 1s;
}

.cube__face {
  position: absolute;
  width: 100%;
  height: 100%;
  font-weight: 500;
  font-size: 30px;
  opacity: 100%;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

/* Source: https://3dtransforms.desandro.com/cube */
.cube__face--front:not(.final)  { background: linear-gradient(0deg, red, var(--front-percentage), white); transform: rotateY(  0deg) translateZ(18vh);}
.cube__face--right:not(.final)  { background: linear-gradient(0deg, blue, var(--right-percentage),white); transform: rotateY( 90deg) translateZ(18vh);}
.cube__face--back:not(.final)   { background: linear-gradient(0deg, green, var(--back-percentage), white); transform: rotateY(180deg) translateZ(18vh);}
.cube__face--left:not(.final)   { background: linear-gradient(0deg, gold, var(--left-percentage), white); transform: rotateY(-90deg) translateZ(18vh);}
.cube__face--top:not(.final)   { background: linear-gradient(0deg, magenta, var(--top-percentage), white); transform: rotateX( 90deg) translateZ(18vh); }
.cube__face--bottom:not(.final) { background: linear-gradient(0deg, orange, var(--bottom-percentage), white); transform: rotateX(-90deg) translateZ(18vh);}

.cube.show-front:not(.final)  { transform: translateZ(-18vh) rotateY(   0deg); }
.cube.show-right:not(.final)  { transform: translateZ(-18vh) rotateY( -90deg); }
.cube.show-back:not(.final)  { transform: translateZ(-18vh) rotateY(-180deg); }
.cube.show-left:not(.final)  { transform: translateZ(-18vh) rotateY(  90deg); }
.cube.show-top:not(.final)   { transform: translateZ(-18vh) rotateX( -90deg); }
.cube.show-bottom:not(.final) { transform: translateZ(-18vh) rotateX(  90deg); }

.cube__face--front.final  { background: linear-gradient(0deg, red, var(--front-percentage), white); transform: rotateY(  0deg) translateZ(100px);}
.cube__face--right.final  { background: linear-gradient(0deg, blue, var(--right-percentage),white); transform: rotateY( 90deg) translateZ(100px);}
.cube__face--back.final   { background: linear-gradient(0deg, green, var(--back-percentage), white); transform: rotateY(180deg) translateZ(100px);}
.cube__face--left.final   { background: linear-gradient(0deg, gold, var(--left-percentage), white); transform: rotateY(-90deg) translateZ(100px);}
.cube__face--top.final   { background: linear-gradient(0deg, magenta, var(--top-percentage), white); transform: rotateX( 90deg) translateZ(100px); }
.cube__face--bottom.final { background: linear-gradient(0deg, orange, var(--bottom-percentage), white); transform: rotateX(-90deg) translateZ(100px);}

.cube.show-front.final  { transform: translateZ(-100px) rotateY(   0deg); }
.cube.show-right.final  { transform: translateZ(-100px) rotateY( -90deg); }
.cube.show-back.final  { transform: translateZ(-100px) rotateY(-180deg); }
.cube.show-left.final  { transform: translateZ(-100px) rotateY(  90deg); }
.cube.show-top.final   { transform: translateZ(-100px) rotateX( -90deg); }
.cube.show-bottom.final { transform: translateZ(-100px) rotateX(  90deg); }

.box p {
    margin-bottom: 5vh;
    text-align: center;
}