<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teaching Game</title>
    <script defer src="/public/js/ws-api.js"></script>
    <script defer type="module" src="/public/js/tg-host.js"></script>
</head>

<body>
    <header class="header d-flex align-items-center justify-content-center">
        <div class="logo"></div>
        <h1 class="fw-bold m-0">Sustainable Box Trivia</h1>
    </header>
    
    <div id="content">

    </div>
    
</body>
</html>