<!-- Use games.css with this-->

<template id="game-ui-template">
    <main id="question-container">
        <!-- Will put combinations of the following game ui items here-->
        <section class="next-question game-ui-item">
            <p>Next Question!</p>
        </section>
        <section class="question-text game-ui-item">
            <p>Question text...</p>
        </section>
        <section class="answer-choices game-ui-item">
            <p class="answer-choice choice-one preview">Choice 1(unselectable, preview time)</p>
            <p class="answer-choice choice-two">Choice 2</p>
            <p class="answer-choice choice-three">Choice 3</p>
            <p class="answer-choice choice-four">Choice 4</p>
        </section>
        <section class="BLA game-ui-item">
            <!-- Don't clone this -->
            <!-- This is how correct/incorrect/unpicked answers will be indicated once revealed -->
            <p class="answer-choice choice-one incorrect">Choice 1 (incorrect)</p>
            <p class="answer-choice choice-two unpicked">Choice 2 (unpicked)</p>
            <p class="answer-choice choice-three correct">Choice 3 (correct)</p>
            <p class="answer-choice choice-four unpicked">Choice 4 (unpicked)</p>
        </section>
        <section class="countdown game-ui-item">
            <!-- This will probably be changed in the future to be more reactive than text,
            but you can still style this block -->
            <p>Time remaining: 5 seconds</p>
        </section>
        <section class="correct-prompt game-ui-item">
            <p>Correct!</p>
        </section>
        <section class="incorrect-prompt game-ui-item">
            <p>Incorrect!</p>
        </section>

        <!-- Leaderboard stuff -->
        <section class="self-ranking game-ui-item">
            <p>You are in 0th place!</p>
            <p>Keep it up!</p>
        </section>
        <section class="leaderboard game-ui-item">
            <p>Player: score</p>
            <p>Player: score</p>
            <p>Player: score</p>
            <p>Player: score</p>
            <p>Player: score</p>
        </section>
        <section class="next-question-btn game-ui-item">
            <button>Next Question</button>
        </section>

        <!-- End leaderboard stuff -->
        <section class="your-learning game-ui-item">
            <p>Your Learning</p>
        </section>
        <section class="box">
            <div class="box_container">
                <div class="scene">
                    <div class="cube show-front">
                        <div class="cube__face cube__face--front">History & Evolution</div>
                        <div class="cube__face cube__face--back">Sustainability</div>
                        <div class="cube__face cube__face--right">Consumerism & Ethics</div>
                        <div class="cube__face cube__face--left">Production/Scalability</div>
                        <div class="cube__face cube__face--top">End-of-life & Data</div>
                        <div class="cube__face cube__face--bottom">Technical Aspects/Engineering</div>
                    </div>
                </div>
            </div>
        </section>
        <section class="self-ranking game-ui-item">
            <p>You are in 0th place!</p>
            <p>Keep it up!</p>
        </section>
        <section class="new-game-btn game-ui-item">
            <button>New Game</button>
        </section>
    </main>
</template>
