<!-- Use games.css with this-->

<template id="game-ui-template">
    <main id="question-container">
        <!-- Will put combinations of the following game ui items here-->
        <section class="next-question game-ui-item">
            <div class="next-question-container">
                <p>Next Question!</p>
            </div>
        </section>
        <section class="question-text game-ui-item">
            <div class="question-text-container state-answer-display">
                <p>Question Text...</p>
            </div>
        </section>
        <section class="answer-choices game-ui-item">
            <div class="answer-choice-container preview container-choice-one"><p class="answer-choice choice-one">Choice 1(unselectable, preview time)</p></div>
            <div class="answer-choice-container preview container-choice-two"><p class="answer-choice choice-two">Choice 2(unselectable, preview time)</p></div>
            <div class="answer-choice-container preview container-choice-three"><p class="answer-choice choice-three">Choice 3(unselectable, preview time)</p></div>
            <div class="answer-choice-container preview container-choice-four"><p class="answer-choice choice-four">Choice 4(unselectable, preview time)</p></div>
        </section>
        <section class="BLA game-ui-item">
            <!-- Don't clone this -->
            <!-- This is how correct/incorrect/unpicked answers will be indicated once revealed -->
           <div class="answer-choice-container container-choice-one correct"><p class="answer-choice choice-one">Choice 1 (correct)</p></div>
            <div class="answer-choice-container container-choice-two unpicked"><p class="answer-choice choice-two">Choice 2 (unpicked)</p></div>
            <div class="answer-choice-container container-choice-three unpicked"><p class="answer-choice choice-three">Choice 3 (unpicked)</p></div>
            <div class="answer-choice-container container-choice-four incorrect"><p class="answer-choice choice-four"></p>Choice 4 (incorrect)</div>
        </section>
        <section class="countdown game-ui-item">
            <div class="round-time-bar-background">
                <div class="round-time-bar" style="--duration: 8;">
                    <div></div>
                </div>
            </div>
        </section>
        <section class="correct-prompt game-ui-item">
            <div class="correct-prompt-container">
                <p>Correct!</p>
            </div>
        </section>
        <section class="incorrect-prompt game-ui-item">
           <div class="incorrect-prompt-container">
                <p>Incorrect</p>
            </div>
        </section>

        <!-- Leaderboard stuff -->
        <section class="self-ranking game-ui-item">
            <p>You are in 0th place!</p>
            <p>Keep it up!</p>
        </section>
        <section class="leaderboard game-ui-item">
            <p>Player: score</p>
            <p>Player: score</p>
            <p>Player: score</p>
            <p>Player: score</p>
            <p>Player: score</p>
        </section>
        <section class="next-question-btn game-ui-item">
            <button>Next Question</button>
        </section>

        <!-- End leaderboard stuff -->
        <section class="your-learning game-ui-item">
            <p>Your Learning</p>
        </section>
        <section class="box">
                    <p>Move the cube with arrow keys or by clicking!</p>
                    <div class="box_container">
                        <div class="scene">
                            <div class="cube show-front">
                                <div class="cube__face cube__face--front">History & Evolution</div>
                                <div class="cube__face cube__face--back">Sustainability</div>
                                <div class="cube__face cube__face--right">Consumerism & Ethics</div>
                                <div class="cube__face cube__face--left">Production/Scalability</div>
                                <div class="cube__face cube__face--top">End-of-life & Data</div>
                                <div class="cube__face cube__face--bottom">Technical Aspects/Engineering</div>
                            </div>
                        </div>
                    </div>
        </section>
        <section class="self-ranking game-ui-item">
            <p>You are in 0th place!</p>
            <p>Keep it up!</p>
        </section>
        <section class="new-game-btn game-ui-item">
            <button>New Game</button>
        </section>
    </main>
</template>
